/* Index.html */

h1 {
    background-color: #FC2E20;
    color: #FEDE00;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: large;
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}